html, body {
    height: 100vh;
    background-color: rgb(17, 17, 17);
    color: white;
}

.jumbotron {
    text-align: center;
    background-image: url("../images/headerbackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

.card-header {
    background-color: rgb(0, 77, 122);
}

.card-body {
    background-color: rgb(27, 27, 27);
}

#headshot {
    margin-right: 10px;
}

.projects {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-img {
    max-width: 398px;
}

.projects .row:not(:first-child) {
    margin-top: 40px;
}

.projects > .card-body {
    max-height: 710px;
    overflow-y: scroll;
}

.projects .btn {
    margin-top: 4px;
}






@media only screen and (max-width: 768px) {
    .contact {
        margin-top: 25px;
    }

    .projects .row .col-md-6:not(:first-child) {
        margin-top: 40px;
    }
}